# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
*/env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Hydra
outputs/

# Hydra
outputs/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
examples/images
examples/images

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
data
data

# Mac OS-specific storage files
.DS_Store

# mypy
.mypy_cache/

# vim
*.swp

# habitat_baselines outputs
/videos
/train_dir
/tb
*.mp4

# outputs from other libraries
/sandbox
/plots/outputs
/wandb/
video_dir/**
/video_dir_1/
*.ply
/single_agent_train/
#new_try
data/
old/** 
/habitat-baselines/habitat_baselines/config/override/**
*.log
/video_dir_point/
/video_dir_8000/
/video_dir_secondtest/
/video_dir_firsttest/
/video_dir_multi/
video_dir_old/**
data/**
/final_train/
/single_agent_train.zip
res/**
hydra/
*.zip
single_agent_train.zip
episode_log/
hssd_scene/
rearrange_ep_dataset.json.gz
rearrange_ep_dataset.json.gz.json
video_dir_old_test/
generate_scene_graph.py
hssd_scene_toys/
mp3d_download.py
ycb_object.txt
video_dir_sample_in_1020/
102344193.yaml
dataprocess_pipeline_dlc.py
dataset_hssd_10scene_8589/
dp_config_dlc.py
habitat-lab/habitat/config/benchmark/single_agent/override/
hssd_scene_8scene_toys/
mkmanyyaml.py
new_scene_dir/
scene_annotation/
scene_dir_new/
temp.json
test_.py
video_dir_before_10scene/
video_dir_big_scene/
video_dir_new_1/
dataset_hssd_10scene_2918/
DLC_closer_dataset_hssd_10scene_3216/
DLC_dataset_hssd_10scene_1022/
DLC_dataset_hssd_10scene_1271/
DLC_dataset_hssd_10scene_1380/
DLC_dataset_hssd_10scene_2710/
DLC_dataset_hssd_10scene_5090/
DLC_dataset_hssd_10scene_8029/
DLC_dataset_hssd_10scene_8406/
DLC_dataset_hssd_10scene_9451/
DLC_dataset_hssd_10scene_9743/
closer_dataset_hssd_10scene_9188/
dataprocess_pipeline_dlc2.py
dp_config_dlc2.py
pipeline_generate_scene_graph.py
DLC_2gocloser_dataset_hssd_10scene_4140/
DLC_2gocloser_dataset_hssd_10scene_4140_new/
DLC_2gocloser_dataset_hssd_10scene_4308/
DLC_2gocloser_dataset_hssd_10scene_4308_new/
DLC_2gocloser_dataset_hssd_10scene_5461/
DLC_2gocloser_dataset_hssd_10scene_5461_new/
DLC_2gocloser_dataset_hssd_10scene_7852/
DLC_2gocloser_dataset_hssd_10scene_7852_new/
DLC_temp_dataset_hssd_10scene_1450/
DLC_temp_dataset_hssd_10scene_1628/
DLC_temp_dataset_hssd_10scene_2392/
DLC_temp_dataset_hssd_10scene_3564/
DLC_temp_dataset_hssd_10scene_3637/
DLC_temp_dataset_hssd_10scene_3713/
DLC_temp_dataset_hssd_10scene_5846/
DLC_temp_dataset_hssd_10scene_6116/
DLC_temp_dataset_hssd_10scene_7268/
DLC_temp_dataset_hssd_10scene_7925/
DLC_temp_dataset_hssd_10scene_9021/
DLC_temp_dataset_hssd_10scene_9852/
sat_DLC_datasets_10scene_sum/
sat_dataset_hssd_10scene_8589_testdataset/
video_dir_mp3d/
dataprocess_new_1.py
dataprocess_new_2.py
dataprocess_new_3.py
dp_config_new1.py
dp_config_new2.py
dp_config_new3.py
frame_100_agent_0_head_rgbFetchRobot_head_rgb-ai-brush-removebg-vb0ok3z.png
habitat-baselines/habitat_baselines/config/social_rearrange/testyaml.yaml
result.png
test_change_yaml.py
testyaml.yaml
toys.sh
video_dir_test_pipeline/
DLC_temp_dataset_hssd_10scene_7797/
TESTSET_dataset_hssd_13scene_3733/
TESTSET_dataset_hssd_13scene_526/
