# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
*/env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Hydra
outputs/

# Hydra
outputs/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
examples/images
examples/images

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
data
data

# Mac OS-specific storage files
.DS_Store

# mypy
.mypy_cache/

# vim
*.swp

# habitat_baselines outputs
/videos
/train_dir
/tb
*.mp4
/sandbox
/plots/outputs
/wandb/
video_dir/**
video_*/

# Data and logs
data/
data/**
*.log
*.ply
*.zip
episode_log/
result.png
temp.json

# Training and configuration files
/single_agent_train/
single_agent_train.zip
/single_agent_train.zip
/final_train/
old/**
res/**
hydra/
habitat-baselines/habitat_baselines/config/override/**
habitat-lab/habitat/config/benchmark/single_agent/override/
habitat-baselines/habitat_baselines/config/social_rearrange/*.yaml

# Scene and dataset files
hssd_scene*/
rearrange_ep_dataset.json.gz*
dataset_hssd_10scene_*/
sat_DLC_datasets_10scene_sum/
sat_dataset_hssd_10scene_8589_testdataset/
DLC_temp_dataset_hssd_10scene_7797/
TESTSET_dataset_hssd_13scene_*/
new_scene_dir/
scene_annotation/
scene_dir_new/

# Scripts and configuration files
generate_scene_graph.py
mp3d_download.py
ycb_object.txt
dataprocess_pipeline_dlc*.py
dataprocess_new_*.py
dp_config_dlc*.py
dp_config_new*.py
mkmanyyaml.py
test_.py
test_change_yaml.py
testyaml.yaml
toys.sh
policy_test_coord.sh
video_dir_test_coord/
DLC_26scene_0_1144/
hssd_scene_26scene/
hssd_scene_5scene_test/
playground_check.zsh
video_dir_test_stretch/
check_hssd_scene.py
process_filter_dir.py
scene_have_sampled/
102344193.yaml
